body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/*background: radial-gradient(90deg,rgb(255, 234, 119),rgb(255, 255, 255));*/
}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background-color: rgba(221, 193, 99,0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(89, 77, 40,0.5);
	border-radius: 10px;
}
.box h2{

	color: #fff;
	margin: 0 0 30px;
	padding: 0;	
	text-align: center;
}
.box .inputBox{
	position: relative;
}
.box .inputBox input{
	width: 100%;
	padding: 10px,0;
	color: #fff;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px,0;
	color: #fff;
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
.box .inputBox input:focus~label,
.box .inputBox input:valid~label
{
	top: -18px;
	left: 0;
	color: #a37325;
	font-size: 12px;
}
.box #btn{
	background: transparent;
	border: none;
	outline: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #a37325;
	outline: none;
	color: #a37325;
	font-weight: bold;
}
.box #btn:hover{
	background: linear-gradient(#eabd75,#a37325);
	border:1px solid #a37325;
	color:#fff;
	font-weight: bold;
}